pipeline/copyOnceWeek.json
{
	"name": "copyOnceWeek",
	"properties": {
		"description": "Weekly data transfer of PostTypes and Users tables from the RDS PostgreSQL database to Azure Blob storage.",
		"activities": [
			{
				"name": "Retry Copy Users",
				"description": "\"Executes a set of activities in a loop to reattempt copying data for a specific duration.",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('UserFileCopied')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Users",
							"description": "Copy Users from RDS PostgreSQL DB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlV2Source"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "id",
												"type": "Int32",
												"physicalType": "integer"
											},
											"sink": {
												"name": "id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "age",
												"type": "String",
												"physicalType": "character varying"
											},
											"sink": {
												"name": "age",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "creationdate",
												"type": "DateTime",
												"physicalType": "date"
											},
											"sink": {
												"name": "creationdate",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "displayname",
												"type": "String",
												"physicalType": "character varying"
											},
											"sink": {
												"name": "displayname",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "downvotes",
												"type": "Int32",
												"physicalType": "integer"
											},
											"sink": {
												"name": "downvotes",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "emailhash",
												"type": "String",
												"physicalType": "character varying"
											},
											"sink": {
												"name": "emailhash",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "location",
												"type": "String",
												"physicalType": "character varying"
											},
											"sink": {
												"name": "location",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "reputation",
												"type": "Int32",
												"physicalType": "integer"
											},
											"sink": {
												"name": "reputation",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "upvotes",
												"type": "Int32",
												"physicalType": "integer"
											},
											"sink": {
												"name": "upvotes",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "views",
												"type": "Int32",
												"physicalType": "integer"
											},
											"sink": {
												"name": "views",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "websiteurl",
												"type": "String",
												"physicalType": "character varying"
											},
											"sink": {
												"name": "websiteurl",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "accountid",
												"type": "Int32",
												"physicalType": "integer"
											},
											"sink": {
												"name": "accountid",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_Users_pg",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_load_Users_csv",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Users Conditional Action",
							"description": "Make an action depending on post files existence",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Copy Users",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Copy Users').output.filesWritten, 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set UserFileCopied",
										"description": "\"Set the UserFileCopied pipeline variable to true indicating successful copy attempt",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "UserFileCopied",
											"value": true
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Users Retry WaitTime",
										"description": "Set the time till the next copy retry attempt",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1800
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Check User FilesCopied",
				"description": "Handle User copy failure case",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Retry Copy Users",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('UserFileCopied')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy Users Files Failure",
							"description": "A fail activity associated with the status of copying files from source",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "User files were not copied from the source",
								"errorCode": "CopyError"
							}
						}
					]
				}
			},
			{
				"name": "Retry Copy PostTypes",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('PostTypeFileCopied')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "PostTypes Conditional Action",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Copy PostType",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Copy PostType').output.filesWritten, 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set PostTypeFileCopied",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "PostTypeFileCopied ",
											"value": "true"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "PostType Retry WaitTime",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1800
										}
									}
								]
							}
						},
						{
							"name": "Copy PostType",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlV2Source"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_PostTypes_pg",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_load_PostTypes_csv",
									"type": "DatasetReference"
								}
							]
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Check PostType FilesCopied",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Retry Copy PostTypes",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('PostTypeFileCopied')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy PostTypes Files Failure",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "PostType files were not copied from the source.",
								"errorCode": "CopyFailure"
							}
						}
					]
				}
			}
		],
		"variables": {
			"UserFileCopied": {
				"type": "Boolean",
				"defaultValue": false
			},
			"PostTypeFileCopied": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}