pipeline/RunDaily.json
{
	"name": "RunDaily",
	"properties": {
		"description": "Copy Posts parquet files daily from an WCD's Azure blob storage container",
		"activities": [
			{
				"name": "Get Metadata1",
				"description": "Get information about the dataset to check if there is any content",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_load_Posts_WCD_pq",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "Check If Files Exist",
				"description": "An if condition activity that helps in deleting files only if the exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('Get Metadata').output.exists)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete Posts",
							"description": "Delete posts from Posts directory",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_load_Posts_WCD_pq",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ls_my_blob",
										"type": "LinkedServiceReference"
									},
									"path": "mydatalakefilesystem/Capstone2/DailyDeletedLog"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"FilesCopied": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}