capstone-datalake-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "capstone-datalake-adf"
		},
		"ls_my_blob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_my_blob'",
			"defaultValue": "DefaultEndpointsProtocol=https;AccountName=capstonedlstorage;"
		},
		"ls_wcd_blob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_wcd_blob'",
			"defaultValue": "DefaultEndpointsProtocol=https;AccountName=wcddestorageexternal;"
		},
		"ls_ProjectKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://WCDProjectKeyVault.vault.azure.net/"
		},
		"ls_rds_pg_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "de-rds.czm23kqmbd6o.ca-central-1.rds.amazonaws.com"
		},
		"ls_rds_pg_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "stack"
		},
		"ls_rds_pg_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "postgres"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_ProjectKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This linked service provides secure access to secrets stored in the Azure Key Vault for the project.",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_ProjectKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_my_blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This linked service is used to link my own storage blob for both pipelines.",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_my_blob_connectionString')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_ProjectKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "my-blob-access-key"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ProjectKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_rds_pg')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This linked service is used to connect to the RDS PostgreSQL database.",
				"annotations": [],
				"type": "PostgreSqlV2",
				"typeProperties": {
					"server": "[parameters('ls_rds_pg_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('ls_rds_pg_properties_typeProperties_database')]",
					"username": "[parameters('ls_rds_pg_properties_typeProperties_username')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_ProjectKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "RDS-PostgreSql-Password"
					},
					"sslMode": 2,
					"authenticationType": "Basic"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ProjectKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_wcd_blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This linked service connects to WeCloudData's public storage blob for use in pipeline 2.",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_wcd_blob_connectionString')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_ProjectKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "wcd-blob-access-key"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ProjectKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_PostTypes_pg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This dataset represents the PostTypes table stored in the RDS PostgreSQL DB.",
				"linkedServiceName": {
					"referenceName": "ls_rds_pg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {
					"schema": "raw_st",
					"table": "posttypes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_rds_pg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Posts_WCD_pq')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This dataset represents the Posts parquet files stored on WeCloudData's storage blob.",
				"linkedServiceName": {
					"referenceName": "ls_wcd_blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "archive",
						"container": "de-project-st"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_wcd_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Users_pg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This dataset represents the Users table stored in the RDS PostgreSQL DB.",
				"linkedServiceName": {
					"referenceName": "ls_rds_pg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {
					"schema": "raw_st",
					"table": "users"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_rds_pg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_load_PostTypes_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This dataset loads posttypes from RDS as postgressql to posts file in my blob storage in a csv format",
				"linkedServiceName": {
					"referenceName": "ls_my_blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "rds-postTypes.csv",
						"folderPath": "Capstone2/postTypes",
						"container": "mydatalakefilesystem"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_my_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_load_Posts_WCD_pq')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This data set loads post from we cloud data's blob storage to posts file in my blob storage in a Parquet format",
				"linkedServiceName": {
					"referenceName": "ls_my_blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Capstone2/posts",
						"container": "mydatalakefilesystem"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_my_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_load_Users_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This data set loads users from RDS in postgressql format to users file in my blob storage in a csv format",
				"linkedServiceName": {
					"referenceName": "ls_my_blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "rds-Users.csv",
						"folderPath": "Capstone2/users",
						"container": "mydatalakefilesystem"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_my_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RunOnceWeekly')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy PostTypes and Users tables from RDS PostgreSQL DB on weekly basis.",
				"activities": [
					{
						"name": "Retry Copy Users",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('UserFileCopied')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Users Conditional Action1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Copy Users",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('Copy Users').output.filesWritten, 0)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Set UserFileCopied",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "UserFileCopied",
													"value": true
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Users Retry WaitTime",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1800
												}
											}
										]
									}
								},
								{
									"name": "Copy Users",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "PostgreSqlV2Source"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_Users_pg",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_load_Users_csv",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							],
							"timeout": "0.12:00:00"
						}
					},
					{
						"name": "Retry Copy postTypes",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('PostTypeFileCopied ')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "PostTypes Conditional Action",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Copy postTypes",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('Copy postTypes').output.filesWritten, 0)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Set PostTypeFileCopied",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "PostTypeFileCopied ",
													"value": true
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "PostTypes Retry WaitTime",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1800
												}
											}
										]
									}
								},
								{
									"name": "Copy postTypes",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "PostgreSqlV2Source"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_PostTypes_pg",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_load_PostTypes_csv",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							],
							"timeout": "0.12:00:00"
						}
					},
					{
						"name": "Check User FilesCopied",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Retry Copy Users",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('UserFileCopied')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Copy Users Files Failure",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "User files were not copied from the source.",
										"errorCode": "CopyError"
									}
								}
							]
						}
					},
					{
						"name": "Check PostTypeFilesCopied",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Retry Copy postTypes",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('PostTypeFileCopied ')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Copy PostTypes Files Failure",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "PostType files were not copied from the source.",
										"errorCode": "CopyFailure"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"PostTypeFileCopied ": {
						"type": "Boolean",
						"defaultValue": false
					},
					"UserFileCopied": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Users_pg')]",
				"[concat(variables('factoryId'), '/datasets/ds_load_Users_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_PostTypes_pg')]",
				"[concat(variables('factoryId'), '/datasets/ds_load_PostTypes_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RunDaily')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy Posts parquet files daily from an WCD's Azure blob storage container",
				"activities": [
					{
						"name": "Get Metadata1",
						"description": "Get information about the dataset to check if there is any content",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_load_Posts_WCD_pq",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "ParquetReadSettings"
							}
						}
					},
					{
						"name": "Check If Files Exist",
						"description": "An if condition activity that helps in deleting files only if the exist",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('Get Metadata1').output.exists)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Delete Posts",
									"description": "Delete posts from Posts directory",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_load_Posts_WCD_pq",
											"type": "DatasetReference",
											"parameters": {}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "ls_my_blob",
												"type": "LinkedServiceReference"
											},
											"path": "mydatalakefilesystem/Capstone2/DailyDeletedLog"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					},
					{
						"name": "Retry Loop",
						"description": "Executes a set of activities in a loop for a specific duration.",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Check If Files Exist",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('FilesCopied')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Posts",
									"description": "Copy posts from WCD's Azure blob storage",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "archive",
												"wildcardFileName": "*.parquet",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "ParquetReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_Posts_WCD_pq",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_load_Posts_WCD_pq",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Copy Posts Conditional Action",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Copy Posts",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('Copy Posts').output.filesWritten, 0)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Set FilesCopied",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "FilesCopied",
													"value": "@bool(true)"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Retry WaitTime",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1800
												}
											}
										]
									}
								}
							],
							"timeout": "01:00:00"
						}
					},
					{
						"name": "Check FilesCopied",
						"type": "IfCondition",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('FilesCopied')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Copy Files Failure",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Posts files were not copied from the source.",
										"errorCode": "CopyError"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "ML Post Classification",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"FilesCopied": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_load_Posts_WCD_pq')]",
				"[concat(variables('factoryId'), '/datasets/ds_Posts_WCD_pq')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_my_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "RunOnceWeekly",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2024-05-24T23:43:00",
						"timeZone": "Arab Standard Time",
						"schedule": {
							"minutes": [
								37
							],
							"hours": [
								9
							],
							"weekDays": [
								"Saturday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RunOnceWeekly')]"
			]
		}
	]
}